@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@source "../node_modules/flowbite-datepicker";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


@layer utilities {
  .required::after {
    content: '*';
    color: theme('colors.red.500');
    margin-left: 0.125rem;
  }
}

.btn-primary {
    @apply text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.btn-outline-primary {
    @apply text-primary-600 dark:text-primary-300 hover:text-white border border-primary-700 hover:border-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.btn-secondary {
    @apply text-gray-600 dark:text-white hover:text-white border border-gray-700 dark:border-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-gray-700 dark:focus:ring-primary-800;
}